@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* --------------------- Heading -------*/

header {
    margin: 0;
}

.logo {
    background-image: url("../images/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 240px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav-item {
    height: 30px;
    text-align: left;
    padding: 0px;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 30px;
}

.nav-item a i{
    padding-top: 0;
    display: block;
    color: white;
    font-size: 32px;
}

.nav-item span {
    display: block;
    padding-left: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}


/* --------------------- Hover.CSS -------*/

.hvr-bounce-to-bottom:before {
    background: #534A4A;
    height: 30px;
}

/* --------------------- colours -------*/

.color-home {
    background-color: #000000
}

.color-music {
    background-color: #000000
}

.color-photos {
    background-color: #000000
}

.color-contact-us {
    background-color: #000000
}

.footer {
    background-color: #000000;
}

.section {
    background-color:#534A4A;
    margin: 0;
}

/* --------------------- footer -------*/

footer {
    background-color: #000000;
    color: #fafafa;
    min-height: 60px;
    margin: 0;
}

.foot-logo {
    background-image: url("../images/Footer.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 60px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #808080;
}